@import '../../../styles.scss';

.assignment-block {
  margin-top: 20px;
  .lbl-assign-file {
    font-weight: bold;
    font-size: large;
  }
}

table {
  width: 100%;
}

.table-container {
  margin: 20px 0;
}

.filter-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 20px;
}

.image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 10px;
  border-radius: 50%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.message {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
}

.message-button {
  color: mat-color($RembergeTest-primary, default);
  cursor: pointer;
  border-bottom: 1px solid;
}
